.todo-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo {
  border: 2px solid #ddd;
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 30px;
}
.submit{
    cursor: pointer;
}
.tasks{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.task{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 100%;
}
.task input{
    margin-right: 10px;
}
.remove{
    cursor: pointer;
}
.remove:hover{
    color: red;
}
.errorMessage{
    color: red;
    text-align: left;
    margin-bottom: 20px;
}
.loading{
    margin-top: 70px;
}
.taskLabel{
    max-width: 15rem;
}